<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cocos00.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,192},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>cocos01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,191},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>cocos02.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,148},{41,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>cocos03.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,186},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>cocos04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,148},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>cocos05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,446},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>cocos06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{41,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pattern_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,239},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_destroy_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,306},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{70,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{70,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{70,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{70,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{70,72}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{72,74}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,150},{74,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{74,76}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,226},{74,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{74,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,156},{76,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{76,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{82,80}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,80}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,78},{80,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{80,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,76},{84,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{84,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,76},{88,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{88,70}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{90,72}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{94,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{94,72}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{96,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{96,74}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{100,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{100,74}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{102,74}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_destroy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,78},{76,76}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{76,76}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>pattern_explode_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,422},{52,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{52,49}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,296},{54,53}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{54,53}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,364},{56,53}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{56,53}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,135},{56,55}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{56,55}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,78},{58,55}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{58,55}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,450},{60,55}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{60,55}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,448},{62,55}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{62,55}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,448},{62,61}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{62,61}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,228},{66,59}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{66,59}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,436},{64,59}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{64,59}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,296},{66,59}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{66,59}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,368},{66,61}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{66,61}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,298},{68,61}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{68,61}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,378},{68,63}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{68,63}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,378},{68,63}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{68,63}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,228},{66,61}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{66,61}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_explode_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{60,61}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{60,61}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>pattern_mark_explode.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,192},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_mark_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,446},{39,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_mark_petrifaction.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,399},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,352},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseResource.png</string>
            <key>size</key>
            <string>{494,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bafe7d3ee318860b705e0900d3668aa9$</string>
            <key>textureFileName</key>
            <string>baseResource.png</string>
        </dict>
    </dict>
</plist>
