<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk_oper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{761,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,318}}</string>
                <key>sourceSize</key>
                <string>{761,318}</string>
            </dict>
            <key>btn_eff_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,783},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>btn_eff_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,890},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>btn_eff_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,785},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>btn_eff_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,892},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>btn_eff_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,787},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>btn_eff_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,787},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>btn_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,709},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>btn_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,709},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>btn_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,908},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>btn_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>btn_long_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,709},{202,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,40}}</string>
                <key>sourceSize</key>
                <string>{202,40}</string>
            </dict>
            <key>btn_long_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,506},{202,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,40}}</string>
                <key>sourceSize</key>
                <string>{202,40}</string>
            </dict>
            <key>btn_long_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1},{240,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,66}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>btn_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>btn_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>btn_music_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,709},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>btn_music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,709},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>btn_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>btn_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>btn_short_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,407},{142,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,62}}</string>
                <key>sourceSize</key>
                <string>{142,62}</string>
            </dict>
            <key>effect_btn_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,280},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>effect_btn_long_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,376},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>effect_btn_long_bk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,650},{542,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,89}}</string>
                <key>sourceSize</key>
                <string>{542,89}</string>
            </dict>
            <key>effect_btn_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,650},{40,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,136}}</string>
                <key>sourceSize</key>
                <string>{40,136}</string>
            </dict>
            <key>effect_long_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,475},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>gain.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,752},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>gain_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,975},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>highLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,246},{2,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{2,104}}</string>
                <key>sourceSize</key>
                <string>{4,104}</string>
            </dict>
            <key>loop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,444},{44,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{44,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>loop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,726},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>music_btn_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,752},{30,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,82}}</string>
                <key>sourceSize</key>
                <string>{30,82}</string>
            </dict>
            <key>music_icon_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,427},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>music_icon_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,585},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,662},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>pan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,752},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>pause_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,997},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{26,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,650},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>peg.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,752},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>pitch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>pitch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,712},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>play_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,681},{26,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{26,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,166},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>playing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,991},{28,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{28,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>playing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,650},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>resume_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,125},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{38,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>resume_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,783},{70,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>rewind_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,752},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{34,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>rewind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,650},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,58}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>scale_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,787},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>slider_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,78},{226,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,9}}</string>
                <key>sourceSize</key>
                <string>{226,9}</string>
            </dict>
            <key>slider_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,68},{226,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,9}}</string>
                <key>sourceSize</key>
                <string>{226,9}</string>
            </dict>
            <key>slider_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,997},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>stop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,991},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{30,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>stop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,752},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>tape.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,879},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>tape_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,88},{561,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,202}}</string>
                <key>sourceSize</key>
                <string>{561,202}</string>
            </dict>
            <key>tape_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,740},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>unload_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,650},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{26,30}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>unload_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,550},{62,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>volume.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,603},{58,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,14}}</string>
                <key>sourceSize</key>
                <string>{58,14}</string>
            </dict>
            <key>volume_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,892},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>w_loop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,75},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{90,20}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>w_loop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,611},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>w_pause_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,427},{46,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{46,16}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>w_pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,691},{76,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>w_pauseall_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,320},{68,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{68,20}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>w_pauseall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,550},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>w_play_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,88},{32,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{32,20}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>w_play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,646},{62,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>w_playing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,997},{72,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{72,20}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>w_playing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,752},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>w_resume_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,68},{56,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{56,12}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>w_resume_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,611},{86,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>w_resumeall_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,506},{78,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{78,16}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>w_resumeall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,888},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>w_rewind_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,263},{52,16}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{52,16}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>w_rewind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,611},{82,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>w_stop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,40},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{34,18}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>w_stop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,341},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>w_stopall_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,225},{56,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{56,20}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>w_stopall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,888},{86,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>w_unload_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,246},{52,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{52,16}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>w_unload_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,611},{86,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>testcpp.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56bc4708d4439f340ea826e46304c9d7:1/1$</string>
            <key>textureFileName</key>
            <string>testcpp.png</string>
        </dict>
    </dict>
</plist>
